.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.input-container input {
    height: 48px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.input-container label {
    color: grey;
}